<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Amasty_AnastasiaModule::menu"
             title="Anastasia Module"
             module="Amasty_AnastasiaModule"
             sortOrder="70"
             resource="Amasty_AnastasiaModule::menu"
        />
        <add id="Amasty_AnastasiaModule::blacklist"
             title="Black List"
             module="Amasty_AnastasiaModule"
             sortOrder="10"
             resource="Amasty_AnastasiaModule::blacklist"
             parent="Amasty_AnastasiaModule::menu"
             action="anastasiamodule/blacklist"
        />
    </menu>
</config>
