<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="Amasty_AnastasiaModule" translate="label" sortOrder="10">
            <label>Amasty Anastasia Module</label>
        </tab>
        <section id="anastasia_config" translate="label" sortOrder="2" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <label>Anastasia Module Config</label>
            <tab>Amasty_AnastasiaModule</tab>
            <resource>Amasty_AnastasiaModule::config</resource>
            <group id="general" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enabled" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Is Module Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="greeting_text" type="textarea" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Greeting Text</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="enabled_qty" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Is QTY enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="qty_default" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>QTY default field value</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                    <depends>
                        <field id="enabled">1</field>
                        <field id="enabled_qty">1</field>
                    </depends>
                </field>
            </group>
            <group id="email" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Email</label>
                <field id="send_email" translate="label comment" type="text" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Send Email To</label>
                    <comment>Comma-separated.</comment>
                    <validate>validate-emails</validate>
                </field>
                <field id="blacklist_template" translate="label comment" type="select" showInDefault="1"
                       showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Template for Email</label>
                    <comment>Email templatechosen based on theme fallback when "Default" option is selected.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
            </group>
            <group id="cron" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Cron Job</label>
                <field id="schedule" type="text" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Schedule Job</label>
                </field>
            </group>
        </section>
    </system>
</config>
