<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <anastasia_config>
            <general>
                <enabled>1</enabled>
                <qty_default>1</qty_default>
            </general>
        </anastasia_config>
    </default>
</config>
