.page-wrapper {
    border: 10px solid #f3793b;
}

.css-form-class {
    background: white;
    -webkit-box-shadow: 5px 4px 19px 7px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 5px 4px 19px 7px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 4px 19px 7px rgba(0, 0, 0, 0.2);
    padding: 20px 20px;
    width: 300px;
}

.css-input-class {
    /*margin-bottom: 20px;*/
}

.css-submit-class {
    width: 300px;
    background: #1d7a4d;
    height: 32px;
    border: none;
    color: white;
    font-size: 14px;
}

.css-text-class {
    /*padding-bottom: 20px;*/
}

.css-ul-autocomplete {
    padding-inline-start: 0px;
    margin-bottom: 0rem;
}

.css-li-autocomplete {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    border: 1px solid #c2c2c2;
    border-top: none;
    padding: 5px 5px;
    margin-bottom: 0rem;
    cursor: pointer;
}

.cool-autocomplete-list {
    position: absolute;
    background-color: white;
    width: 300px;
}

#timer {
    text-align: center;
    font-weight: bold;
}

#timer-text {
    padding-bottom: 10px;
}

